@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .block
    {
        margin-bottom: 80px;
    }



    /*------------
        Header
    ------------*/
    header .cont
    {
        padding: 0;
    }



    header .mob_menu_btn
    {
        display: flex;
    }



    header .email
    {
        display: none;
    }



    header .logo
    {
        position: relative;
        top: 0;
        left: 0;

        margin-right: auto;

        transform: none;
    }



    header .categories
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        margin-top: 16px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .swiper-slide .cont
    {
        padding: 0;
    }


    .main_slider .link
    {
        height: 260px;
        padding: 20px;

        text-align: center;
    }


    .main_slider .info
    {
        width: 100%;
    }


    .main_slider .title
    {
        font-size: 30px;
    }


    .main_slider .controls
    {
        margin-right: 40px;
    }


    .main_slider .bottom .title
    {
        font-size: 22px;
    }


    .main_slider .bottom .title > * + *
    {
        margin-top: 8px;
    }


    .main_slider .bottom .links
    {
        width: 100%;
        margin-top: 24px;
    }

    .main_slider .bottom .links > *
    {
        width: calc(50% - 10px);
    }


    .main_slider .bottom .links a
    {
        width: 100%;
    }



    /*---------
        New
    ---------*/
    .new .block_head
    {
        width: 100%;
        margin-bottom: 40px;
    }


    .new .block_head .desc
    {
        width: 100%;
    }


    .new .block_head .link
    {
        width: 200px;
        margin-top: 24px;
    }


    .new .categories
    {
        width: 100%;
    }



    /*--------------------
        Content banner
    --------------------*/
    .content_banner .cont
    {
        padding: 0;
    }


    .content_banner .banner
    {
        height: 230px;
        padding: 20px;
    }


    .content_banner .banner .info
    {
        width: 280px;
    }


    .content_banner .banner .title
    {
        font-size: 30px;
    }


    .content_banner .banner .img
    {
        object-position: -40px 50%;
    }



    /*----------------------
        Popular products
    ----------------------*/
    .popular_products
    {
        display: none;
    }



    /*------------------
        Top products
    ------------------*/
    .top_products
    {
        display: none;
    }



    /*----------------------
        Products banners
    ----------------------*/
    .products_banners
    {
        order: 2;

        width: 100%;
        margin-top: 40px;
    }

    .mob_products .products_banners
    {
        order: 0;

        margin-top: 0;
        margin-bottom: 40px;
    }


    .products_banners .banner
    {
        height: calc(100vw - 40px);
    }


    .products_banners .banner .title
    {
        font-size: 24px;
    }


    .products_banners .banner .btn
    {
        width: 200px;
    }



    /*--------------
        Products
    --------------*/
    .mob_popular_products,
    .mob_top_products
    {
        display: block;
    }



    /*------------
        Brands
    ------------*/
    .brands .brand .logo
    {
        height: 100px;
        padding: 23px;
    }


    .brands .row > *
    {
        width: calc(33.333% - 20px);
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding: 48px 0;
    }



    footer .links
    {
        margin-left: auto;
    }


    footer .subscribe
    {
        width: 100%;
        margin-top: 40px;
    }
}
