@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    .controls > * + *
    {
        margin-left: 4px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 20px;
    }


    .block_head .title
    {
        line-height: 22px;

        max-width: calc(100% - 145px);
    }



    /*---------------
        Mob. menu
    ---------------*/
    .mob_menu .menu
    {
        padding-bottom: 50px;
    }


    .mob_menu .menu .item > a
    {
        padding: 16px 64px 16px 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .checkbox
    {
        padding-left: 28px;
    }



    /*-----------------
        Search tips
    -----------------*/
    .search_tips .rec_categories .sub
    {
        padding-top: 4px;
    }


    .search_tips .rec_brands .brand .logo
    {
        height: 50px;
    }


    .search_tips .col,
    .search_tips .rec_products
    {
        padding: 20px;
    }


    .search_tips .rec_products > .row
    {
        margin-left: 0;
    }

    .search_tips .rec_products > .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*--------------
        Products
    --------------*/
    .products .block_head .title
    {
        padding-right: 12px;
    }


    .products .block_head .controls
    {
        padding-left: 12px;
    }


    .products .swiper-slide
    {
        width: 158px;
    }


    .products .product .stickers
    {
        top: 12px;
    }


    .products .product .favorite_btn
    {
        right: 12px;
        bottom: 12px;
    }


    .products .product .thumb
    {
        margin-bottom: 16px;
    }


    .products .product .desc
    {
        font-size: 12px;
    }



    /*-----------------------
        Categories slider
    -----------------------*/
    .categories_slider .block_head .title
    {
        padding-right: 12px;
    }


    .categories_slider .block_head .controls
    {
        padding-left: 12px;
    }


    .categories_slider .swiper-slide
    {
        width: 150px;
    }



    /*------------
        Brands
    ------------*/
    .brands .swiper-slide
    {
        width: 140px;
    }


    .brands .brand .logo
    {
        height: 66px;
    }



    /*------------------
        PopUp - Cart
    ------------------*/
    #cart_modal .cart_info
    {
        margin-bottom: 60px;
    }


    #cart_modal .cart_info .product .thumb + *
    {
        width: calc(100% - 138px);
        padding-bottom: 36px;
    }



    /*--------------------
        Before payment
    --------------------*/
    .before_payment
    {
        padding: 80px 0;
    }



    /*----------------
        Brand info
    ----------------*/
    .brand_info .logo
    {
        margin-bottom: 30px;
    }



    /*------------------------
        Mob. products head
    ------------------------*/
    .mob_products_head .filter_btn
    {
        padding: 20px 51px 20px 19px;
    }


    .mob_products_head .nice-select .current
    {
        padding: 0 51px 0 19px;
    }


    .mob_products_head .nice-select .list .option
    {
        padding: 16px 19px;

        white-space: normal;
    }



    /*------------
        Filter
    ------------*/
    .filter .filter_selected .row
    {
        margin-bottom: -12px;
    }


    .filter .filter_selected .row > *
    {
        margin-bottom: 12px;
    }


    .filter .search
    {
        margin-bottom: 20px;
    }


    .filter .field + .field,
    .filter * + .hide
    {
        margin-top: 12px;
    }



    /*-----------------
        Brands page
    -----------------*/
    .brands_page
    {
        margin-bottom: 40px;

        border-bottom: 1px solid #eee;
    }


    .brands_page .list .items
    {
        width: 100%;
        margin-top: 16px;
    }



    /*--------------
        Checkout
    --------------*/
    .checkout .auth .form .btns
    {
        font-size: 14px;
        line-height: 20px;
    }


    .checkout .cart_info
    {
        padding-bottom: 40px;
    }


    .checkout .delivery_type > *
    {
        width: 100%;
    }


    .checkout .delivery_type > * + *
    {
        margin-top: -1px;
        margin-left: 0;
    }


    .checkout .delivery_type label div
    {
        width: 100%;
    }


    .checkout .order .head .cont
    {
        flex-direction: row;
    }


    .checkout .order_form
    {
        padding-bottom: 50px;
    }


    .checkout .order_form .section .title
    {
        margin-bottom: 20px;
    }


    .checkout .order_form .form .personal .line
    {
        margin-bottom: 20px;
    }


    .checkout .order_form .cert .field,
    .checkout .order_form .promocode .field
    {
        width: calc(60% - 10px);
    }


    .checkout .order_form .form .apply_btn,
    .checkout .order_form .form .remove_btn
    {
        width: calc(40% - 10px);
    }


    .checkout .checkout_total
    {
        font-size: 15px;
    }


    .checkout .order_form .agree
    {
        margin-top: 20px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product .col
    {
        max-width: calc(100% - 75px);
    }


    .cart_info .product .amount
    {
        width: 100%;
        margin-bottom: 10px;
    }


    .cart_info .product .delete_btn
    {
        margin-left: auto;
    }



    /*----------------
        Cart empty
    ----------------*/
    .cart_empty
    {
        padding: 80px 0;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item
    {
        padding-right: 88px;
    }


    .contacts_info .item + .item
    {
        margin-top: 20px;
    }


    .contacts_info .socials a + a
    {
        margin-left: 12px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        padding: 23px;
    }



    /*-------------
        Pickups
    -------------*/
    .pickups .item + .item
    {
        margin-top: 20px;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .add_form
    {
        padding: 28px;
    }



    /*--------------
        Favorite
    --------------*/
    .favorite .row .product,
    .favorite .row .product:nth-child(2n)
    {
        padding: 28px 0;
    }


    .favorite .product .thumb + *
    {
        width: calc(100% - 135px);
    }



    /*-------------
        Join us
    -------------*/
    .join_us .item
    {
        margin-top: 40px;
    }



    /*------------------
        LK - address
    ------------------*/
    .lk_address .add_form,
    .lk_address .address
    {
        padding: 28px 0;
    }



    /*------------------
        LK - profile
    ------------------*/
    .lk_profile .form .section
    {
        padding: 28px 0 8px;
    }


    .lk_profile .form .birthday .fields
    {
        padding-right: 0;
    }



    /*------------------
        Payment info
    ------------------*/
    .payment_info .method + .method
    {
        margin-top: 28px;
        padding-top: 28px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .features .items .name
    {
        width: calc(40% - 5px);
    }


    .product_info .features .items .name + *
    {
        width: calc(60% - 5px);
    }


    .product_info .not_available
    {
        width: 160px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .review .likes
    {
        width: 88px;
    }


    .reviews .review .likes .icon
    {
        width: 20px;
        height: 20px;
    }



    /*------------------
        Search empty
    ------------------*/
    .search_empty
    {
        padding-bottom: 0;
    }


    .stock_info .the_end .timer
    {
        width: 100%;
        margin-top: 4px;
        margin-left: 0;
    }



    /*---------------
        Thank you
    ---------------*/
    .thank_you .data .form .stars img
    {
        width: 28px;
        height: 28px;
    }


    .thank_you .order
    {
        width: 335px;
        padding: 0 24px 28px;
    }


    .thank_you .order .logo:before
    {
        left: -25px;

        width: calc(50% - 48px);
    }


    .thank_you .order .logo:after
    {
        right: -25px;

        width: calc(50% - 48px);
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding-bottom: 40px;
    }


    footer .col
    {
        margin-bottom: 40px;
    }


    footer .subscribe
    {
        margin-top: 40px;
    }
}
