@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 24px;
    }


    .block
    {
        margin-bottom: 100px;
    }



    /*------------
        Header
    ------------*/
    header .categories .sub .col
    {
        padding: 30px 40px 30px 0;
    }

    header .categories .sub .col.border
    {
        padding-left: 40px;
    }

    header .categories .sub .col.big
    {
        width: calc((100% - 600px) / 2);
    }


    header .categories .banners
    {
        width: 600px;
        padding: 30px 0;
    }


    header .categories .banners .title
    {
        font-size: 26px;
    }



    /*---------------
        Page head
    ---------------*/
    .block_head .link
    {
        font-size: 14px;

        width: 260px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .all_link
    {
        margin-left: 60px;
    }

    .block_head .all_link:after
    {
        margin-left: 60px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .link
    {
        height: 320px;
        padding: 48px 80px;
    }


    .main_slider .title
    {
        font-size: 44px;
    }


    .main_slider .controls
    {
        margin-right: 40px;
    }


    .main_slider .bottom
    {
        margin-top: 48px;
    }


    .main_slider .bottom .title
    {
        font-size: 28px;
    }


    .main_slider .bottom .links
    {
        margin-right: 0;
    }


    .main_slider .bottom .links > * + *
    {
        margin-left: 24px;
    }


    .main_slider .bottom .links a
    {
        width: 260px;
    }



    /*---------
        New
    ---------*/
    .new .block_head
    {
        width: 440px;
        padding-top: 60px;
    }


    .new .block_head .link
    {
        margin-top: 75px;
    }


    .new .categories
    {
        width: calc(100% - 464px);
    }


    .new .categories .category .thumb
    {
        margin-bottom: 20px;
    }



    /*--------------------
        Content banner
    --------------------*/
    .content_banner .banner
    {
        height: 300px;
        padding: 48px 100px;
    }


    .content_banner .banner .info
    {
        width: 440px;
    }


    .content_banner .banner .title
    {
        font-size: 44px;
    }



    /*-----------------------
        Categories slider
    -----------------------*/
    .categories_slider .controls
    {
        margin-left: 60px;
    }

    .categories_slider .controls:after
    {
        margin-left: 60px;
    }


    .categories_slider .category .thumb
    {
        margin-bottom: 20px;
    }



    /*--------------
        Products
    --------------*/
    .products .controls
    {
        margin-left: 60px;
    }

    .products .controls:after
    {
        margin-left: 60px;
    }


    .products .product .thumb
    {
        margin-bottom: 20px;
    }


    .products .product .favorite_btn
    {
        right: 12px;
        bottom: 12px;
    }


    .products .product .desc,
    .products .product .price
    {
        margin-top: 12px;
    }



    /*----------------------
        Popular products
    ----------------------*/
    .popular_products .products
    {
        width: calc(100% - 640px);
    }



    /*------------------
        Top products
    ------------------*/
    .top_products .products
    {
        width: calc(100% - 640px);
    }



    /*----------------------
        Products banners
    ----------------------*/
    .products_banners
    {
        width: 596px;
    }


    .products_banners .banner
    {
        height: 680px;
    }


    .products_banners .banner .title
    {
        font-size: 28px;
    }


    .products_banners .banner .btn
    {
        font-size: 14px;

        bottom: 60px;

        width: 260px;
    }



    /*--------------
        Products
    --------------*/
    .products .swiper-slide
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }




    /*------------
        Brands
    ------------*/
    .brands .brand .logo
    {
        height: 140px;
        padding: 39px;
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding: 60px 0;
    }


    footer .bottom
    {
        padding: 24px 0;
    }



    footer .title
    {
        font-size: 14px;
        line-height: 18px;
    }



    footer .pyament_methods
    {
        margin-top: 100px;
    }



    footer .links
    {
        margin-left: 100px;
    }


    footer .links .items,
    footer .links .items > * + *
    {
        margin-top: 24px;
    }
}
