/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 24px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #000;
    --font_size: 15px;
    --font_size_title: 23px;
    --font_family: 'Raleway', 'Arial', sans-serif;
}


::selection
{
    color: #fff;
    background: #2b3338;
}

::-moz-selection
{
    color: #fff;
    background: #2b3338;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #2b3338;
}

html.custom_scroll
{
    scrollbar-color: #2b3338 var(--bg);
    scrollbar-width: thin;
}


body
{
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    color: var(--text_color);

    font-variant-numeric: lining-nums proportional-nums;
}

body.menu_open
{
    overflow: hidden;
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-width: 480px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.cont
{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
}

.cont.small
{
    max-width: 1180px;
}


.lazyload,
.swiper-lazy
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lazyload.loaded,
.swiper-lazy-loaded
{
    opacity: 1;
}


.row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.block
{
    margin-bottom: 60px;
}



/*--------------
    Fancybox
--------------*/
.fancybox__backdrop
{
    background: rgba(0, 0, 0, .6);
}


.fancybox__slide
{
    padding: 40px;
}


.fancybox__content > .carousel__button.is-close
{
    top: 10px;
    right: 10px;

    width: 24px;
    height: 24px;

    transition: color .2s linear;

    color: #c8cbce;
}

.fancybox__content > .carousel__button.is-close svg
{
    display: block;

    width: 24px;
    height: 24px;

    filter: none;
    stroke: none;
    stroke-width: 0;
}

.fancybox__content > .carousel__button.is-close:hover
{
    color: var(--text_color);
}



/*--------------
    Controls
--------------*/
.controls
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.controls > * + *
{
    margin-left: 12px;
}



/*------------
    Header
------------*/
header
{
    position: sticky;
    z-index: 90;
    top: 0;
    left: 0;

    width: 100%;

    background: var(--bg);
}



header .data
{
    font-size: 14px;

    position: relative;
    z-index: 3;

    color: #fff;
    background: #2b3338;
}



header .cont
{
    align-content: center;
    align-items: center;
    justify-content: space-between;
}



header .mob_menu_btn
{
    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 46px;
    height: 46px;
    margin-right: 8px;
    padding: 12px;

    color: #fff;
}


header .mob_menu_btn span
{
    position: relative;

    display: block;

    width: 100%;
    height: 2px;

    background: currentColor;
}

header .mob_menu_btn span:before,
header .mob_menu_btn span:after
{
    position: absolute;
    top: -8px;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: currentColor;
}

header .mob_menu_btn span:after
{
    top: 8px;
}



header .email a
{
    white-space: nowrap;
    text-decoration: none;

    color: currentColor;
}



header .logo
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    transform: translate(-50%, -50%);
    text-decoration: none;

    color: currentColor;
}

header .logo img
{
    display: block;
}



header .btns
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: auto;
}



header .account .btn
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 46px;
    height: 46px;
    padding: 11px;
}


header .account .btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
}


header .account .link
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 46px;
    padding: 0 15px 0 11px;

    text-decoration: none;

    color: currentColor;
}


header .account .link .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-right: 11px;
}



header .search_btn
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 46px;
    height: 46px;
}


header .search_btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
}



header .favorites_link
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 46px;
    height: 46px;

    text-decoration: none;

    color: currentColor;
}


header .favorites_link .icon
{
    display: block;

    width: 24px;
    height: 24px;
}



header .cart_link
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 46px;
    height: 46px;

    text-decoration: none;

    color: currentColor;
}


header .cart_link .icon
{
    display: block;

    width: 24px;
    height: 24px;
}



header .categories
{
    position: relative;

    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}


header .categories nav
{
    justify-content: center;
}


header .categories .item > a
{
    font-size: 12px;
    font-weight: 600;

    position: relative;

    display: block;

    padding: 13px 20px 15px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #333;
    color: currentColor;
}

header .categories .item > a.red
{
    color: #ce0c36;
}


header .categories .item > a:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 0;
    height: 1px;
    margin: auto;

    content: '';
    transition: width .3s linear;

    background: #ce0c36;
}

header .categories .item:hover > a:after,
header .categories .item > a.active:after
{
    width: 100%;
}


header .categories .sub
{
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;

    visibility: hidden;

    width: 100%;
    margin-top: 2px;

    transition: .2s linear;
    pointer-events: none;

    opacity: 0;
    background: var(--bg);
    box-shadow: 0 10px 19px 0 rgba(100, 86, 68, .20);
}

header .categories .sub:before
{
    position: absolute;
    bottom: 100%;
    left: 0;

    display: block;

    width: 100%;
    height: 2px;

    content: '';
}


header .categories .item:hover > a.touch_link + .sub
{
    visibility: hidden;

    pointer-events: none;

    opacity: 0;
}

header .categories .item:hover .sub,
header .categories .item > a.touch_link + .sub.show
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


header .categories .sub .cont
{
    align-content: stretch;
    align-items: stretch;
}


header .categories .sub .sub_level2
{
    display: none;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;

    width: calc(100% - 250px);
    margin-left: auto;
    padding-left: 48px;

    border-left: 1px solid #eee;
}

header .categories .sub .sub_level2.show
{
    display: flex;
}


header .categories .sub .col
{
    padding: 36px 48px 36px 0;
}

header .categories .sub .col.main_links
{
    width: 250px;
    max-width: 100%;
}

header .categories .sub .col.big
{
    width: calc((100% - 701px) / 2);
}


header .categories .sub .col.border
{
    padding-left: 48px;

    border-left: 1px solid #eee;
}


header .categories .sub .col .title
{
    font-size: 14px;
    font-weight: 500;

    margin-bottom: 20px;

    text-transform: uppercase;
}


header .categories .sub .links
{
    font-size: 15px;
    line-height: 11px;

    color: #2b3338;
}


header .categories .sub .links.columns
{
    column-gap: 30px;
    column-count: 2;
    column-width: 150px;
}

header .categories .sub .links.columns > *
{
    transform: translateZ(0);

    --webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}


header .categories .sub .links > * + *
{
    margin-top: 20px;
}


header .categories .sub .links a
{
    display: inline-block;

    transition: color .2s linear;
    vertical-align: top;
    text-decoration: none;

    color: currentColor;
}


header .categories .sub .links a .sticker
{
    font-size: 10px;
    font-weight: 700;
    font-style: normal;

    display: inline-block;

    margin-left: 1px;
    padding: 1px 3px;

    vertical-align: middle;

    color: #fff;
    background: #000;
}

header .categories .sub .links a .sticker.red
{
    background: #ce0c36;
}


header .categories .sub .links a:hover,
header .categories .sub .links a.active
{
    font-weight: 500;

    color: #000;
}


header .categories .banners
{
    width: 701px;
    max-width: 100%;
    margin-left: auto;
    padding: 30px 0;
}


header .categories .banners .row
{
    margin-bottom: -20px;
    margin-left: -20px;
}

header .categories .banners .row > *
{
    width: calc(50% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
}


header .categories .banners .banner
{
    position: relative;

    display: block;

    text-decoration: none;

    color: #fff;
}


header .categories .banners .thumb
{
    position: relative;

    overflow: hidden;

    padding-bottom: 100%;

    background: #ddd;
}


header .categories .banners .thumb img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    transition: transform .2s linear;

    object-fit: cover;
}


header .categories .banners .thumb + *
{
    font-weight: 800;
    line-height: 32px;

    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;
    text-transform: uppercase;
}


header .categories .banners .percents
{
    font-size: 54px;

    width: 100%;
    margin-bottom: 22px;
}


header .categories .banners .title
{
    font-size: 30px;

    width: 100%;
}


header .categories .banners .banner:hover .thumb img
{
    transform: scale(1.1);
}



/*---------------
    Mob. menu
---------------*/
.mob_menu
{
    position: fixed;
    z-index: 90;
    top: 0;
    right: 100%;

    width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    transition: transform .2s linear;

    background: var(--bg);
}

.mob_menu.show
{
    transform: translateX(100%);
}


.mob_menu .close_btn
{
    position: absolute;
    z-index: 9;
    top: 18px;
    right: 20px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 28px;
    height: 28px;

    color: #1c1b1f;
    background: var(--bg);
}

.mob_menu .close_btn .icon
{
    display: block;

    width: 28px;
    height: 28px;
}


.mob_menu .scroll
{
    display: flex;
    overflow: auto;
    flex-direction: column;

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    overscroll-behavior-y: contain;
}


.mob_menu .menu
{
    margin-bottom: auto;
    padding-bottom: 86px;
}


.mob_menu .menu .title
{
    font-size: 26px;
    font-weight: 500;
    line-height: 20px;

    margin-bottom: 20px;
    padding: 22px 72px 20px 20px;

    text-transform: uppercase;
    text-transform: uppercase;

    color: #2b3338;
}


.mob_menu .menu .item > a
{
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;

    position: relative;

    display: block;

    padding: 20px 64px 20px 20px;

    text-decoration: none;
    text-transform: uppercase;

    color: #2b3338;
}

.mob_menu .menu .item > a.red
{
    color: #ce0c36;
}


.mob_menu .menu .item > a .icon
{
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 24px;
    height: 24px;
    margin: auto 0;

    color: #c8cbce;
}


.mob_menu .menu .item > a .icon svg
{
    display: block;

    width: 24px;
    height: 24px;
}

.mob_menu .menu .item > a .icon svg + svg
{
    display: none;
}


.mob_menu .menu .item > a .sticker
{
    font-size: 10px;
    font-weight: 700;
    font-style: normal;

    position: relative;
    top: -2px;

    margin-left: 4px;
    padding: 1px 3px;

    color: #fff;
    background: #000;
}

.mob_menu .menu .item > a .sticker.red
{
    background: #ce0c36;
}


.mob_menu .menu .item > a.active
{
    background: #f6f6f6;
}


.mob_menu .menu .item > a.active .icon svg
{
    display: none;
}

.mob_menu .menu .item > a.active .icon svg + svg
{
    display: block;
}


.mob_menu .menu .sub
{
    display: none;
}


.mob_menu .menu .sub .item > a
{
    padding-left: 40px;
}


.mob_menu .menu .sub.level2 .item > a
{
    padding-left: 60px;

    text-transform: none;
}


.mob_menu .banner
{
    position: relative;

    display: block;

    width: 100%;
    margin-top: auto;
    padding: 27px 20px 41px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    background: #ad3f36;
}


.mob_menu .banner .title
{
    font-size: 20px;
    font-weight: 800;

    position: relative;
    z-index: 3;

    text-transform: uppercase;
}


.mob_menu .banner .desc
{
    position: relative;
    z-index: 3;

    margin-top: 10px;
}


.mob_menu .banner img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}



.mob_menu .links > *
{
    border-top: 1px solid #c8cbce;
}


.mob_menu .links a
{
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 15px 20px;

    text-decoration: none;
    text-transform: uppercase;

    color: #333;
}


.mob_menu .links a .icon
{
    display: block;

    width: 24px;
    height: 24px;

    color: #797f83;
}


.mob_menu .links a span
{
    width: calc(100% - 40px);
}



/*---------------
    Page head
---------------*/
.page_head
{
    padding: 15px 0 16px;

    border-bottom: 1px solid #eee;
}


.page_head .cont
{
    position: relative;
    z-index: 3;
}



.page_head .back
{
    position: absolute;
    top: 50%;
    left: 40px;

    transform: translateY(-50%);
}


.page_head .back a
{
    font-size: 12px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    text-decoration: none;
    text-transform: uppercase;

    color: #515151;
}


.page_head .back a .icon
{
    display: block;

    width: 19px;
    height: 31px;
    margin-right: 10px;
}



.page_title
{
    font-size: var(--font_size_title);
    font-weight: 800;

    display: block;

    text-align: center;
    text-transform: uppercase;

    color: #515151;
}



/*----------------
    Block head
----------------*/
.block_head
{
    margin-bottom: 40px;
}


.block_head .title
{
    font-size: var(--font_size_title);
    font-weight: 800;

    display: block;

    text-transform: uppercase;

    color: #2b3338;
}


.block_head .desc
{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    margin-top: 20px;

    color: #5f6e58;
}


.block_head .link
{
    font-weight: 800;
    line-height: 24px;

    display: block;

    width: 280px;
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;

    transition: background .2s linear;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background: #2b3338;
}

.block_head .link:hover
{
    background: #000;
}


.block_head .all_link
{
    position: relative;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: 70px;
}

.block_head .all_link:after
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;

    display: block;

    width: 100vw;
    height: 1px;
    margin: auto 0 auto 70px;

    content: '';

    background: #c8cbce;
}


.block_head .all_link a
{
    font-size: 14px;
    font-weight: 800;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    transition: opacity .2s linear;
    text-decoration: none;
    text-transform: uppercase;

    color: #c18c43;
}


.block_head .all_link .icon
{
    position: relative;
    top: -2px;

    display: block;

    width: 19px;
    height: 31px;
    margin-left: 7px;

    transform: rotate(180deg);
}


.block_head .all_link a:hover
{
    opacity: .7;
}


.block_head .mob_line
{
    display: none;

    width: 100%;
    height: 1px;
    margin: 0 20px;

    background: #c8cbce;
}



/*------------------
    Form elements
------------------*/
.form
{
    --form_border_color: #c8cbce;
    --form_focus_color: #c8cbce;
    --form_error_color: red;
    --form_bg_color: none;
    --form_placeholder_color: #515151;
}


.form ::-webkit-input-placeholder
{
    color: var(--form_placeholder_color);
}

.form :-moz-placeholder
{
    color: var(--form_placeholder_color);
}

.form ::-moz-placeholder
{
    opacity: 1;
    color: var(--form_placeholder_color);
}

.form :-ms-input-placeholder
{
    color: var(--form_placeholder_color);
}


.form .columns
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: calc(var(--form_columns_offset) * -1);

    --form_columns_offset: -1px;
}

.form .columns > *
{
    width: calc(50% - var(--form_columns_offset));
    margin-left: var(--form_columns_offset);
}


.form .line
{
    margin-bottom: 20px;
}


.form .field
{
    position: relative;
}


.form .input
{
    font-family: var(--font_family);
    font-size: var(--font_size);

    display: block;

    width: 100%;
    height: 35px;
    padding: 0 9px;

    transition: border-color .2s linear;

    color: var(--text_color);
    border: 1px solid var(--form_border_color);
    background: var(--form_bg_color);

    font-variant-numeric: lining-nums proportional-nums;
}

.form .input:-webkit-autofill
{
    -webkit-box-shadow: inset 0 0 0 50px var(--form_bg_color) !important;
}


.form textarea
{
    font-family: var(--font_family);
    font-size: var(--font_size);
    line-height: 22px;

    display: block;

    width: 100%;
    height: 88px;
    padding: 9px;

    resize: none;
    transition: border-color .2s linear;

    color: var(--text_color);
    border: 1px solid var(--form_border_color);
    background: var(--form_bg_color);

    font-variant-numeric: lining-nums proportional-nums;
}

.form textarea::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}


.form .input:focus,
.form textarea:focus
{
    border-color: var(--form_focus_color);
}


.form .error
{
    border-color: var(--form_error_color);
}


.form .gender
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: -37px;
}

.form .gender > *
{
    margin-left: 37px;
}


.form .checkbox
{
    font-size: 14px;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    min-height: 18px;
    padding-left: 33px;

    cursor: pointer;

    color: #515151;
}


.form .checkbox input
{
    display: none;
}


.form .checkbox .check
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 18px;
    height: 18px;

    border: 1px solid #333;
}

.form .checkbox .check:after
{
    position: absolute;

    display: block;

    width: 10px;
    height: 10px;
    margin: auto;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    background: #515151;

    inset: 0;
}


.form .checkbox input:checked ~ .check:after
{
    opacity: 1;
}


.form select
{
    display: none;
}


.form .nice-select
{
    position: relative;

    display: block;

    cursor: pointer;
}


.form .nice-select .current
{
    font-size: var(--font_size);
    line-height: 33px;

    display: block;
    overflow: hidden;

    height: 35px;
    padding: 0 31px 0 9px;

    cursor: pointer;
    transition: border-color .2s linear;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: var(--text_color);
    border: 1px solid var(--form_border_color);
    background: var(--form_bg_color);
}


.form .nice-select-dropdown
{
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;

    visibility: hidden;
    overflow: hidden;

    width: 100%;
    margin-top: -1px;

    transition: .2s linear;

    opacity: 0;
    border: 1px solid var(--form_border_color);
    background: var(--bg);
}

.form .nice-select.open .nice-select-dropdown
{
    visibility: visible;

    opacity: 1;
}


.form .nice-select .list
{
    overflow: auto;

    max-height: 180px;
}

.form .nice-select .list::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
}


.form .nice-select .list .option
{
    display: block;

    padding: 6px 9px;

    list-style-type: none;

    cursor: pointer;
    white-space: nowrap;
}

.form .nice-select .list .option:empty
{
    display: none;
}


.form .nice-select + .arr
{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    display: block;

    width: 10px;
    height: 8px;
    margin: auto;

    transition: transform .2s linear;
    pointer-events: none;

    border-top: 8px solid #c8cbce;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.form .nice-select.open + .arr
{
    transform: rotate(180deg);
}


.form .submit_btn
{
    font-weight: 800;

    display: block;

    width: 100%;
    height: 44px;

    transition: background .2s linear;
    text-transform: uppercase;

    color: #fff;
    background: #2b3338;
}

.form .submit_btn:disabled
{
    cursor: not-allowed;
}

.form .submit_btn:hover
{
    background: #000;
}



/*-----------------
    Main slider
-----------------*/
.main_slider .swiper
{
    overflow: visible !important;
}


.main_slider .swiper-slide
{
    position: relative;

    overflow: hidden;
}


.main_slider .link
{
    position: relative;
    z-index: 3;

    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;

    height: 380px;
    padding: 70px 120px;

    text-decoration: none;

    color: currentColor;
    background: #ececec;
}

.main_slider .link:before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: linear-gradient(0deg, rgba(43, 51, 56, .70) 0%, rgba(0, 0, 0, .00) 36.45%);
}


.main_slider .img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.main_slider .info
{
    position: relative;
    z-index: 3;

    color: #fff;
}


.main_slider .title
{
    font-size: 50px;
    font-weight: 800;

    text-transform: uppercase;
}



.main_slider .bottom
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 60px;
}


.main_slider .bottom .title
{
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;

    text-transform: uppercase;

    color: #2b3338;
}

.main_slider .bottom .title > * + *
{
    margin-top: 12px;
}



.main_slider .bottom .links
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-right: 60px;
    margin-left: auto;
}

.main_slider .bottom .links > * + *
{
    margin-left: 25px;
}


.main_slider .bottom .links a
{
    font-weight: 800;
    line-height: 24px;

    display: block;

    width: 280px;
    max-width: 100%;
    padding: 10px;

    transition: background .2s linear;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background: #2b3338;
}

.main_slider .bottom .links a:hover
{
    background: #000;
}



.main_slider .controls
{
    position: relative;

    margin-right: 33px;
}



/*---------
    New
---------*/
.new .block_head
{
    position: relative;

    width: 460px;
    max-width: 100%;
    margin-bottom: 0;
    padding-top: 74px;
}

.new .block_head:before
{
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 100vw;
    height: 1px;

    content: '';

    background: #c8cbce;
}


.new .block_head .desc
{
    width: 333px;
    max-width: 100%;
}


.new .block_head .link
{
    margin-top: 126px;
}



.new .categories
{
    width: calc(100% - 480px);
    margin-left: auto;
}


.new .categories .row
{
    margin-bottom: -20px;
    margin-left: -20px;
}

.new .categories .row > *
{
    width: calc(25% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
}


.new .categories .category
{
    display: block;

    text-align: center;
    text-decoration: none;

    color: #2b3338;
}


.new .categories .category .thumb
{
    position: relative;

    overflow: hidden;

    margin-bottom: 22px;
    padding-bottom: 150.454%;

    background: #ececec;
}


.new .categories .category .thumb img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    transition: transform .2s linear;

    object-fit: cover;
}


.new .categories .category .name
{
    font-size: 14px;
    font-weight: 800;

    text-transform: uppercase;
}


.new .categories .category:hover .thumb img
{
    transform: scale(1.1);
}



/*--------------------
    Content banner
--------------------*/
.content_banner .banner
{
    position: relative;
    z-index: 3;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    height: 330px;
    padding: 59px 118px;

    text-decoration: none;

    color: #fff;
    background: #ececec;
}


.content_banner .banner .info
{
    position: relative;
    z-index: 3;

    width: 460px;
    max-width: 100%;
}


.content_banner .banner .title
{
    font-size: 50px;
    font-weight: 800;

    text-transform: uppercase;
}


.content_banner .banner .img,
.content_banner .banner .mob_img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    pointer-events: none;

    object-fit: cover;
    object-position: 0 50%;
}

.content_banner .banner .mob_img
{
    display: none;
}



/*-----------------------
    Categories slider
-----------------------*/
.categories_slider .block_head
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.categories_slider .controls
{
    position: relative;

    margin-left: 70px;
}

.categories_slider .controls:after
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;

    display: block;

    width: 100vw;
    height: 1px;
    margin: auto 0 auto 70px;

    content: '';

    background: #c8cbce;
}


.categories_slider .swiper
{
    overflow: visible !important;
}


.categories_slider .swiper-slide
{
    position: relative;

    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}

.categories_slider .swiper-slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.categories_slider .category
{
    display: block;

    text-align: center;
    text-decoration: none;

    color: #2b3338;
}


.categories_slider .category .thumb
{
    position: relative;

    overflow: hidden;

    margin-bottom: 22px;
    padding-bottom: 100%;

    background: #ececec;
}


.categories_slider .category .thumb img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    transition: transform .2s linear;

    object-fit: cover;
}


.categories_slider .category .name
{
    font-size: 14px;
    font-weight: 800;

    text-transform: uppercase;
}


.categories_slider .category:hover .thumb img
{
    transform: scale(1.1);
}



/*----------------------
    Popular products
----------------------*/
.popular_products.mob
{
    display: none;
}


.popular_products .cont
{
    justify-content: space-between;
}


.popular_products .products
{
    width: calc(100% - 720px);
}


.popular_products .products .swiper
{
    overflow: hidden !important;
}


.popular_products .products .swiper-slide
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.popular_products .products .row
{
    margin-bottom: -40px;
    margin-left: -20px;
}

.popular_products .products .row > *
{
    width: calc(33.333% - 20px);
    margin-bottom: 40px;
    margin-left: 20px;
}



/*------------------
    Top products
------------------*/
.top_products .cont
{
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
}


.top_products .products
{
    position: relative;

    width: calc(100% - 720px);
}


.top_products .products .controls
{
    margin-left: 70px;
}


.top_products .products .swiper
{
    overflow: hidden !important;
}


.top_products .products .swiper-slide
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.top_products .products .row
{
    margin-bottom: -40px;
    margin-left: -20px;
}

.top_products .products .row > *
{
    width: calc(33.333% - 20px);
    margin-bottom: 40px;
    margin-left: 20px;
}


.top_products .products_banners > *,
.top_products .products_banners .banner
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}



/*----------------------
    Products banners
----------------------*/
.products_banners
{
    width: 645px;
    max-width: 100%;
}


.products_banners > *
{
    display: none;
}


.products_banners .banner
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 779px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    background: #ececec;
}


.products_banners .banner .img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.products_banners .banner .info
{
    position: relative;
    z-index: 3;
}


.products_banners .banner .title
{
    font-size: 30px;
    font-weight: 800;

    text-transform: uppercase;
}


.products_banners .banner .btn
{
    font-weight: 800;
    line-height: 44px;

    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 70px;
    left: 0;

    width: 280px;
    max-width: calc(100% - 40px);
    height: 44px;
    margin: 0 auto;

    transition: background .2s linear;
    text-transform: uppercase;

    background: #2b3338;
}

.products_banners .banner .btn:hover
{
    background: #000;
}



/*--------------
    Products
--------------*/
.mob_products
{
    display: none;
}


.products .block_head
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.products .controls
{
    position: relative;

    margin-left: 70px;
}

.products .controls:after
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;

    display: block;

    width: 100vw;
    height: 1px;
    margin: auto 0 auto 70px;

    content: '';

    background: #c8cbce;
}


.products .controls.hide
{
    margin: 0;
}

.products .controls.hide > *
{
    display: none;
}


.products .swiper
{
    overflow: visible !important;
}


.products .swiper-slide
{
    position: relative;

    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}

.products .swiper-slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.products .product
{
    text-align: center;
}


.products .product .thumb
{
    position: relative;

    display: block;
    overflow: hidden;

    margin-bottom: 22px;
    padding-bottom: 129.545%;

    text-decoration: none;

    color: currentColor;
    background: #ececec;
}


.products .product .thumb img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    transition: transform .2s linear;

    object-fit: cover;
}


.products .product .favorite_btn
{
    position: absolute;
    z-index: 3;
    right: 20px;
    bottom: 20px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 32px;
    height: 32px;

    transition: .2s linear;

    color: #fff;

    filter: drop-shadow(0px 2px 3px rgba(81, 81, 81, .80));
}


.products .product .favorite_btn .icon
{
    display: block;

    width: 26px;
    height: 25px;
}


.products .product .favorite_btn.active
{
    color: #000;

    filter: none;
}


.products .product .favorite_mes
{
    font-size: 15px;
    line-height: 22px;

    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;

    display: none;

    min-width: 182px;
    max-width: 100%;
    padding: 10px;

    transform: translate(-50%, -50%);
    text-align: center;

    background: #f8f8d9;
}


.products .product .name
{
    font-size: 14px;
    font-weight: 800;

    text-transform: uppercase;
}

.products .product .name a
{
    display: inline-block;
    overflow: hidden;

    max-width: 100%;

    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;

    color: currentColor;
}


.products .product .desc
{
    font-size: 14px;

    overflow: hidden;

    margin-top: 14px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #797f83;
}


.products .product .price
{
    font-size: 14px;
    font-weight: 800;

    margin-top: 14px;

    text-transform: uppercase;
}


.products .product:hover .thumb img
{
    transform: scale(1.1);
}



/*------------
    Brands
------------*/
.brands .block_head
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    white-space: nowrap;
}


.brands .swiper
{
    overflow: visible !important;
}

.brands .swiper-slide
{
    width: 160px;
}


.brands .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -20px;
    margin-left: -20px;
}

.brands .row > *
{
    width: calc(25% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
}


.brands .brand
{
    display: block;

    text-decoration: none;

    color: currentColor;
}


.brands .brand .logo
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 160px;
    padding: 51px;

    transition: border-color .2s linear;

    border: 1px solid #c8cbce;
}


.brands .brand .logo img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.brands .brand:hover .logo
{
    border-color: #c18c43;
}



/*--------------
    Checkout
--------------*/
.checkout .cont
{
    align-content: stretch;
    align-items: stretch;
}



.checkout .mob_head
{
    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 100%;
    width: calc(100% + 40px);
    margin-right: -20px;
    margin-left: -20px;
    padding: 15px 30px 15px 20px;

    border-bottom: 1px solid #eee;
}


.checkout .mob_head .title
{
    font-size: 16px;

    color: #333;
}


.checkout .mob_head .spoler_btn
{
    font-size: 10px;
    font-weight: 500;

    position: relative;

    display: block;

    margin-left: auto;
    padding-right: 11px;

    white-space: nowrap;

    color: #c18c43;
}

.checkout .mob_head .spoler_btn:after
{
    position: absolute;
    top: 4px;
    right: 0;

    display: block;

    width: 5px;
    height: 4px;
    margin: auto 0;

    content: '';
    transition: .2s linear;

    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 5px solid currentColor;
}


.checkout .mob_head .spoler_btn span + span,
.checkout .mob_head .spoler_btn.active span
{
    display: none;
}

.checkout .mob_head .spoler_btn.active span + span
{
    display: inline;
}


.checkout .mob_head .spoler_btn.active:after
{
    transform: rotate(-90deg);
}



.checkout .delivery_type
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 20px;
}

.checkout .delivery_type > * + *
{
    margin-left: -1px;
}


.checkout .delivery_type input
{
    display: none;
}


.checkout .delivery_type label
{
    display: block;

    cursor: pointer;
}


.checkout .delivery_type label div
{
    font-size: 13px;
    font-weight: 800;
    line-height: 17px;

    position: relative;
    z-index: 1;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 230px;
    max-width: 100%;
    height: 44px;
    padding: 9px;

    transition: border-color .2s linear;
    text-align: center;
    text-transform: uppercase;

    color: #2b3338;
    border: 1px solid #c8cbce;
}

.checkout .delivery_type label:hover div,
.checkout .delivery_type input:checked + div
{
    z-index: 3;

    border-color: #2b3338;
}



.checkout .notice
{
    margin-top: 20px;

    text-align: center;
}


.checkout .notice .text
{
    line-height: 22px;

    display: inline-block;

    padding: 10px;

    vertical-align: top;

    color: #2b3338;
    background: #f8f8d9;
}



.checkout .auth
{
    width: 50%;
    padding: 50px 130px 60px 0;

    border-right: 1px solid #eee;
}


.checkout .auth .title
{
    font-size: 14px;
    font-weight: 500;

    text-align: center;
    text-align: center;
    text-transform: uppercase;

    color: #2b3338;
}


.checkout .auth .desc
{
    font-size: 12px;
    line-height: 15px;

    margin-top: 10px;

    text-align: center;

    color: #797f83;
}


.checkout .auth .socials
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: -20px;
}

.checkout .auth .socials > *
{
    width: calc(50% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
}


.checkout .auth .socials .btn
{
    font-size: 12px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding: 9px 19px;

    text-align: center;
    text-transform: uppercase;

    border: 1px solid #d6d6d6;
}


.checkout .auth .socials .btn img
{
    display: block;

    width: 24px;
    height: 24px;
    margin-right: 12px;
}


.checkout .auth .form
{
    margin-top: 20px;
}


.checkout .auth .form .input
{
    height: 44px;
}


.checkout .auth .form .links
{
    font-size: 15px;
    line-height: 22px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    color: #c18c43;
}


.checkout .auth .form .links a
{
    display: inline-block;

    vertical-align: top;
    text-decoration: none;

    color: currentColor;
}

.checkout .auth .form .links a:hover
{
    text-decoration: underline;
}


.checkout .auth .form .submit_btn
{
    font-size: 13px;
    font-weight: 800;
    line-height: 17px;
}


.checkout .auth .continue_btn
{
    font-size: 13px;
    font-weight: 800;
    line-height: 18px;

    display: block;

    height: 44px;
    margin-top: 30px;
    padding: 13px;

    transition: background .2s linear;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #2b3338;
    border: 1px solid #2b3338;
}

.checkout .auth .continue_btn:hover
{
    background: #eee;
}



.checkout .cart_info
{
    width: calc(50% + 1px);
    margin-left: -1px;
    padding: 50px 0 60px 60px;

    border-left: 1px solid #eee;
}



.checkout .orders_cart_info
{
    display: none;

    width: calc(100% + 40px);
    margin: -20px -20px -1px;

    counter-reset: number;

    border-bottom: 1px solid #eee;
}


.checkout .orders_cart_info .order
{
    margin: 0 20px;
}

.checkout .orders_cart_info .order + .order
{
    margin-top: -1px;
    padding-top: 24px;
}


.checkout .orders_cart_info .order .title
{
    font-size: 12px;
    font-weight: 800;

    margin-bottom: 15px;

    text-transform: uppercase;
}


.checkout .orders_cart_info .order .title span
{
    display: inline-block;

    vertical-align: top;
}

.checkout .orders_cart_info .order .title span:before
{
    content: counter(number);
    counter-increment: number;
}


.checkout .orders_cart_info .cart_info
{
    border: none;
}

.checkout .orders_cart_info .cart_info .product:last-child
{
    border: none;
}



.checkout .orders
{
    counter-reset: number;
}


.checkout .order + .order
{
    border-top: 1px solid #eee;
}


.checkout .order .head
{
    padding: 18px 0;

    border-bottom: 1px solid #eee;
}


.checkout .order .head .cont
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}


.checkout .order .head .title
{
    font-size: 20px;
    font-weight: 800;

    margin: 0;

    text-transform: uppercase;

    color: #515151;
}


.checkout .order .head .title span
{
    display: inline-block;

    vertical-align: top;
}

.checkout .order .head .title span:before
{
    content: counter(number);
    counter-increment: number;
}


.checkout .order .head .col
{
    font-size: 10px;
    font-weight: 500;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 50%;
    margin-left: auto;
    padding-left: 61px;

    color: #2b3338;
}


.checkout .order .head .seller
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    white-space: nowrap;
}


.checkout .order .head .seller .val
{
    font-weight: 600;

    margin-left: 8px;
}


.checkout .order .head .total_price
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: auto;

    white-space: nowrap;
}


.checkout .order .head .total_price .val
{
    font-weight: 600;

    margin-left: 8px;
}



.checkout .order_form
{
    width: 50%;
    padding: 50px 50px 45px 0;
}


.checkout .order_form .form
{
    width: 460px;
    max-width: 100%;
}


.checkout .order_form .form .personal .line
{
    margin-bottom: 25px;
}


.checkout .order_form .form .input
{
    height: 44px;
}


.checkout .order_form .form .nice-select .current
{
    line-height: 42px;

    height: 44px;
}


.checkout .order_form .section + .section
{
    margin-top: 40px;
}


.checkout .order_form .section .title
{
    font-size: 14px;
    font-weight: 500;

    margin-bottom: 25px;

    text-align: center;
    text-transform: uppercase;

    color: #2b3338;
}


.checkout .order_form .copy_btn
{
    font-size: 13px;
    font-weight: 800;
    line-height: 17px;

    display: block;

    width: 100%;
    height: 44px;
    margin-top: 40px;
    padding: 9px;

    transition: background .2s linear;
    text-transform: uppercase;

    color: #2b3338;
    border: 1px solid #2b3338;
}

.checkout .order_form .copy_btn:hover
{
    background: #eee;
}

.checkout .order_form .copy_btn:disabled
{
    pointer-events: none;

    color: #eee;
    border-color: #eee;
}


.checkout .order_form .methods .field + .field
{
    margin-top: 20px;
}


.checkout .order_form .methods .row
{
    justify-content: space-between;
}

.checkout .order_form .methods .row > *
{
    width: calc(50% - 12px);
}

.checkout .order_form .methods .row .field + .field
{
    margin-top: 0;
}


.checkout .order_form .cert
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;

    border-top: 1px solid #eee;
}


.checkout .order_form .cert .line,
.checkout .order_form .promocode .line
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}


.checkout .order_form .cert .field,
.checkout .order_form .promocode .field
{
    width: calc(50% - 12px);
}


.checkout .order_form .form .apply_btn
{
    font-size: 13px;
    font-weight: 800;
    line-height: 17px;

    display: block;

    width: calc(50% - 12px);
    height: 44px;
    margin-left: auto;
    padding: 9px;

    transition: .2s linear;
    text-transform: uppercase;

    color: #2b3338;
    border: 1px solid #2b3338;
}

.checkout .order_form .form .apply_btn:hover
{
    background: #eee;
}


.checkout .order_form .form .add_btn
{
    line-height: 22px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    transition: .2s linear;

    color: #515151;
}

.checkout .order_form .form .add_btn .icon
{
    display: block;

    width: 16px;
    height: 16px;
    margin-right: 20px;

    color: #c18c43;
}

.checkout .order_form .form .add_btn:hover
{
    color: #c18c43;
}


.checkout .order_form .form .hide
{
    display: none;
}


.checkout .checkout_total
{
    font-size: 16px;
    font-weight: 500;

    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

    color: #2b3338;
    border-top: 1px solid #c8cbce;
}


.checkout .checkout_total > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout .checkout_total > * + *
{
    margin-top: 8px;
}


.checkout .checkout_total .label
{
    width: 76px;
}

.checkout .checkout_total .label b
{
    font-weight: 800;
}


.checkout .checkout_total .val
{
    width: calc(100% - 96px);

    text-align: right;
}

.checkout .checkout_total .total_price
{
    font-size: 20px;
    font-weight: 800;

    text-transform: uppercase;
}


.checkout .mob_checkout_total
{
    display: none;

    width: calc(100% + 40px);
    margin: 0 -20px;
    padding: 20px;

    border: none;
    border-bottom: 1px solid #eee;
}


.checkout .order_form .agree
{
    font-size: 12px;
    line-height: 15px;

    margin-top: 40px;

    text-align: center;

    color: #797f83;
}

.checkout .order_form .agree a
{
    text-decoration: none;

    color: #c18c43;
}



/*---------------
    Cart info
---------------*/
.cart_info .sticky
{
    position: sticky;
    top: 112px;
}


.cart_info .product
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 30px;

    border-bottom: 1px solid #eee;
}


.cart_info .product + .product
{
    margin-top: 30px;
}


.cart_info .product .thumb
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 115px;
    height: 150px;

    text-decoration: none;

    color: currentColor;
    background: #ddd;
}


.cart_info .product .thumb img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.cart_info .product .thumb + *
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    width: calc(100% - 146px);
    margin-left: auto;
}


.cart_info .product .col
{
    max-width: 50%;
}


.cart_info .product .name
{
    font-size: 12px;
    font-weight: 800;

    text-transform: uppercase;
}


.cart_info .product .name a
{
    display: inline-block;

    vertical-align: top;
    text-decoration: none;

    color: currentColor;
}


.cart_info .product .desc
{
    font-size: 10px;
    font-weight: 500;

    margin-top: 6px;

    color: #2b3338;
}


.cart_info .product .features
{
    font-size: 10px;
    font-weight: 500;

    margin-top: 12px;

    color: #2b3338;
}


.cart_info .product .features > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.cart_info .product .features > * + *
{
    margin-top: 8px;
}


.cart_info .product .features .label
{
    font-weight: 600;

    margin-right: 8px;

    white-space: nowrap;
}


.cart_info .product .features .price
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    white-space: nowrap;
}

.cart_info .product .features .price .red
{
    color: #ce0c36;
}

.cart_info .product .features .price .old
{
    font-weight: 400;

    margin-left: 8px;

    text-decoration: line-through;
}


.cart_info .product .features .color img
{
    display: block;

    width: 12px;
    height: 12px;

    border: 1px solid #c8cbce;
    border-radius: 50%;

    object-fit: cover;
}


.cart_info .product .edit_link
{
    font-size: 10px;
    font-weight: 500;

    text-align: right;

    color: #c18c43;
}


.cart_info .product .edit_link a
{
    text-decoration: none;

    color: currentColor;
}

.cart_info .product .edit_link a:hover
{
    text-decoration: underline;
}


.cart_info .product .total_price
{
    font-size: 12px;
    font-weight: 800;

    position: relative;

    margin-top: 14px;
    padding-top: 16px;

    text-align: right;
    text-transform: uppercase;
}

.cart_info .product .total_price .red
{
    color: #ce0c36;
}

.cart_info .product .total_price .old
{
    font-size: 10px;

    position: absolute;
    top: 0;
    right: 0;

    text-decoration: line-through;

    color: #797f83;
}


.cart_info .product .row
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    margin-top: 12px;
}


.cart_info .product .amount
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-right: auto;
}


.cart_info .product .amount .btn
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 26px;
    height: 26px;

    transition: color .2s linear;

    color: #c8cbce;
    border: 1px solid #eee;
}


.cart_info .product .amount .btn .icon
{
    display: block;

    width: 16px;
    height: 16px;
}


.cart_info .product .amount .btn:hover
{
    color: var(--text_color);
}


.cart_info .product .amount .input
{
    font-family: var(--font_family);
    font-size: 10px;
    font-weight: 600;

    display: block;

    width: 32px;
    height: 26px;

    text-align: center;

    color: #2b3338;
    border: none;
    background: none;

    font-variant-numeric: lining-nums proportional-nums;
}


.cart_info .product .delete_btn
{
    font-size: 10px;
    font-weight: 500;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: 15px;
    padding: 3px 10px;

    color: #2b3338;
}


.cart_info .product .delete_btn .icon
{
    display: block;

    width: 20px;
    height: 20px;
    margin-left: 10px;
}


.cart_info .product .favorite_btn
{
    font-size: 10px;
    font-weight: 500;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: 15px;
    padding: 5px 10px;

    color: #2b3338;
}


.cart_info .product .favorite_btn .icon
{
    display: block;

    width: 16px;
    height: 16px;
    margin-left: 10px;
}



.cart_info .cart_total
{
    font-size: 10px;
    font-weight: 500;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 30px;

    color: #2b3338;
}


.cart_info .cart_total .col
{
    width: calc(50% - 15px);
}


.cart_info .cart_total .col > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart_info .cart_total .col > * + *
{
    margin-top: 8px;
}


.cart_info .cart_total .label
{
    font-weight: 600;

    width: 70px;
}

.cart_info .cart_total .label b
{
    font-weight: 600;
}


.cart_info .cart_total .val
{
    width: calc(100% - 80px);

    text-align: right;
}

.cart_info .cart_total .total_price
{
    font-size: 12px;
    font-weight: 800;

    text-transform: uppercase;
}



/*------------
    Footer
------------*/
footer .data
{
    padding: 60px 0;

    border-top: 1px solid #c8cbce;
}


footer .bottom
{
    font-size: 10px;

    padding: 30px 0;

    text-transform: uppercase;

    color: #515151;
    border-top: 1px solid #c8cbce;
}


footer .bottom .cont
{
    align-content: center;
    align-items: center;
    justify-content: space-between;
}



footer .logo img
{
    display: block;

    max-width: 100%;
}



footer .pyament_methods
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 116px;
    margin-left: -20px;
}

footer .pyament_methods > *
{
    margin-left: 20px;
}


footer .pyament_methods img
{
    display: block;
}



footer .title
{
    line-height: 17px;

    position: relative;

    text-transform: uppercase;
    pointer-events: none;

    color: #333;
}


footer .title .icon
{
    position: absolute;
    top: 0;
    right: 24px;
    bottom: 0;

    display: none;

    width: 21px;
    height: 21px;
    margin: auto 0;
}


footer .title .icon:before,
footer .title .icon:after
{
    position: absolute;

    display: block;

    width: 100%;
    height: 1px;
    margin: auto;

    content: '';

    background: #c8cbce;

    inset: 0;
}

footer .title .icon:after
{
    width: 1px;
    height: 100%;
}

footer .title.active .icon:after
{
    opacity: 0;
}



footer .links
{
    margin-left: 112px;
}


footer .links .items
{
    font-size: 11px;

    margin-top: 30px;

    text-transform: uppercase;

    color: #333;
}

footer .links .items > * + *
{
    margin-top: 30px;
}


footer .links .items a
{
    display: inline-block;

    vertical-align: top;
    text-decoration: none;

    color: currentColor;
}



footer .subscribe
{
    position: relative;

    width: 280px;
    max-width: 100%;
    margin-right: 60px;
    margin-left: auto;
}


footer .subscribe .form
{
    margin-top: 20px;
}


footer .subscribe .message
{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;

    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: var(--bg);
}

footer .subscribe .message.show
{
    display: flex;
}


footer .subscribe .message .title
{
    font-size: var(--font_size_title);
    font-weight: 800;
    line-height: normal;

    width: 100%;

    text-transform: uppercase;

    color: #2b3338;
}


footer .subscribe .message .desc
{
    width: 100%;
    margin-top: 20px;
}



footer .creator
{
    margin-right: 60px;
}


footer .creator a
{
    text-decoration: none;

    color: currentColor;
}


footer .creator span
{
    border-bottom: 1px solid;
}



/*-----------
    PopUp
-----------*/
.modal
{
    display: none;
    visibility: visible !important;

    width: 400px;
    max-width: 100%;
    min-height: 182px;
    padding: 30px;

    color: var(--text_color);
    background: #fff;
    box-shadow: 0 10px 19px 0 rgba(100, 86, 68, .20);
}


.modal .title
{
    font-size: 20px;
    font-weight: 800;

    text-transform: uppercase;

    color: #515151;
}


.modal .desc
{
    font-size: 14px;

    margin-top: 40px;

    color: #2b3338;
}
